#root {
  height: 100%;
}
#app {
  height: 100%;
  width: 100%;
  font-family: source-code-pro, Menlo, Monaco, 'Courier New';
  background-image: url('@/assets/images/wall.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
body {
  height: 100vh;

  margin: 0;
}
